.section {
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px 0;
}

.section__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    box-shadow: 0 0 5px #ddd;
    padding: 20px;
    margin: 1px;
}

.section__containerTasks {
    grid-gap: 15px;
}

@media (max-width: 767px) {
    .section__containerTasks {
        grid-template-columns: 1fr;
    }
}