html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
