.buttons__button {
    cursor: pointer;
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: none;
    padding: 15px;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
    transform: scale(115%);
    transition-duration: .5s;
}

.buttons__buttton:disabled {
    color: #ccc;
    transform: none;
}