.buttons__button {
    width: 100px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: 1px solid red;
    padding: 15px;
}

.buttons:hover {
    color: hsl(180, 100%, 30%);
}